# Supabase
VITE_SUPABASE_URL=https://tomzxxwkyhjwebalrabw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvbXp4eHdreWhqd2ViYWxyYWJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMzU2MjEsImV4cCI6MjA5MDkxMTYyMX0.0hgUp6G1cS96RI1iRSwaxp1Z82pKhPq-CFrXm-8kbuA

# Auth0
VITE_AUTH0_DOMAIN=dev-qs5lemnualuybfil.us.auth0.com
VITE_AUTH0_CLIENT_ID=Mcbf0bRFBoXhM7r9rVJIrUZqkfGCUGQx
VITE_AUTH0_AUDIENCE=https://college-marketplace-api
